<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments :: head"></div>

<body>
    <div th:replace="fragments :: navbar"></div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Escape Croatia</h2>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item" sec:authorize="hasRole('ROLE_CITIES_READ')">
                    <a th:href="@{/cities}">
                        <div class="box"><i class="material-icons icon">location_city</i>
                            <h3 class="name">Cities</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 item" sec:authorize="hasRole('ROLE_PLACES_READ')">
                    <a th:href="@{/places}">
                        <div class="box"><i class="material-icons icon">location_on</i>
                            <h3 class="name">Places</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 item" sec:authorize="hasRole('ROLE_ROOMS_READ')">
                    <a th:href="@{/rooms}">
                        <div class="box"><i class="material-icons icon">vpn_key</i>
                            <h3 class="name">Rooms</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/testers}">
                        <div class="box"><i class="material-icons icon">verified_user</i>
                            <h3 class="name">Testers</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/contributors}">
                        <div class="box"><i class="material-icons icon">group_add</i>
                            <h3 class="name">Contributors</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/userAdministration}">
                        <div class="box"><i class="material-icons icon">people</i>
                            <h3 class="name">User Administration</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 item"><a href="#"></a></div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: scripts"></div>
</body>

</html>