<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<body>
    <div class="jumbotron hero" style="margin:0;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"><img src="assets/img/Rooms Fragment.png" class="device"></div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>Escape Croatia</h1>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                    <p><a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-google"></i> Available on Google Play</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Fantastic Features</h2>
                    <p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-ok"></i>
                            <p>Track progress</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-star"></i>
                            <p>Set favorites</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-calendar"></i>
                            <p>Book the game</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <a href="@{/login}" style="color:rgb(255,255,255);">
                    <p class="copyright">Kristijan Zdelarec © 2021</p>
                </a>
            </div>
        </footer>
    </div>
    <div th:replace="fragments :: scripts"></div>
</body>

</html>