<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<body>
    <div th:replace="fragments :: navbar"></div>
    <div class="contact-clean">
        <form method="post" th:action="@{/testers/save}", th:object="${testerDto}">
            <h2 class="text-center">New tester</h2>
            <input class="form-control" th:field="*{id}" type="hidden">
            <div class="form-group has-success"><input class="form-control" type="text" name="name" placeholder="Name" th:field="*{name}" required></div>
            <div class="form-group">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments :: scripts"></div>
</body>

</html>