<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<body>
    <div class="contact-clean">
        <form method="post" th:action="@{/confirmation/resetPassword}" th:object="${passwordResetDto}">
            <h2 class="text-center">Password setup</h2>
            <input class="form-control" th:field="*{token}" type="hidden">
            <div class="form-group has-success"><input class="form-control" type="password" th:field="*{password}" name="password" placeholder="Password" required></div>
            <div class="form-group has-success"><input class="form-control" type="password" th:field="*{passwordConfirm}" name="passwordConfirm" placeholder="Confirm password" required></div>
            <span class="validation-error" th:if="${#fields.hasErrors('passwordConfirm')}">Passwords must match!</span>
            <div class="form-group">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments :: scripts"></div>
</body>

</html>