<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments :: head"></div>

<body>
    <div th:replace="fragments :: navbar"></div>
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Escape Croatia - User Administration</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-success" role="button" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/userAdministration/new}" title="new" style="border-radius: 25px;padding: 8px 16px;margin: 16px 0;">New Platform User</a>
                <table class="table table-striped table-bordered table-hover" style="background: white;">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Enabled</th>
                        <th style="width: 10%;" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${platformUsers.empty}">
                        <td colspan="2"> Nothing to show</td>
                    </tr>
                    <tr th:each="user : ${platformUsers}">
                        <td><span th:text="${user.username}"> Username </span></td>
                        <td><span th:text="${user.enabled}"> Enabled </span></td>
                        <td>
                            <a class="btn btn-primary" role="button" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/userAdministration/edit/{id}(id = ${user.id})}" title="edit" ><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger" role="button" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/userAdministration/block/{id}(id = ${user.id})}" title="block" ><i class="fa fa-lock"></i></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: scripts"></div>
</body>

</html>